<h2>if</h2>
{{#if check}}
  //true block of statement
  <h3> boolean value is {{check}}</h3>
{{else}}
  //false block of statement
  <h3>boolean value is {{check}}</h3>
{{/if}}

<h2>unless</h2>
{{#unless check}}
  <h3> boolean value is {{check}}</h3>
{{/unless}}
