<div class="row">
  <div class="col-md-2">
    <ul class="nav">
      <li class="nav-item">
        {{#link-to 'tutorial.objects'}}Object{{/link-to}}<br>
        {{#link-to 'tutorial.routes'}}Route{{/link-to}}
      </li>
    </ul>
  </div>
  <div class="col-md-10">
    {{outlet}}
  </div>
</div>