<div class="row">
  <div class="col-md-3">
    {{#link-to 'tutorial.objects.classes-and-instances'}}Classes-and-instances{{/link-to}}<br>
    {{#link-to 'tutorial.objects.reopen'}}Reopen{{/link-to}}<br>
    {{#link-to 'tutorial.objects.chaining-computed-properties'}}Chaining Computed Properties{{/link-to}}<br>
    {{#link-to 'tutorial.objects.setting-computed-properties'}}Setting Computed Properties{{/link-to}}<br>
    {{#link-to 'tutorial.objects.computed-aggregate'}}Computed aggregate{{/link-to}}<br>
    {{#link-to 'tutorial.objects.observer-asynchrony'}}Observer asynchrony{{/link-to}}<br>
    {{#link-to 'tutorial.objects.object-model-bindings'}}Object model bindings{{/link-to}}<br>
    See output in console
  </div>
  <div class="col-md-9">
    {{outlet}}
  </div>
</div>