<div class="row">
  <div class="col-md-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        {{#link-to 'tutorial.objects.classes-and-instances' class='nav-link'}}Classes-and-instances{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to 'tutorial.objects.reopen' class='nav-link'}}Reopen{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to 'tutorial.objects.chaining-computed-properties' class='nav-link'}}Chaining Computed Properties{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to 'tutorial.objects.setting-computed-properties' class='nav-link'}}Setting Computed Properties{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to 'tutorial.objects.computed-aggregate' class='nav-link'}}Computed aggregate{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to 'tutorial.objects.observer-asynchrony' class='nav-link'}}Observer asynchrony{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to 'tutorial.objects.object-model-bindings' class='nav-link'}}Object model bindings{{/link-to}}
      </li>
      <li class="nav-item">
        See output in console
      </li>
    </ul>
  </div>
  <div class="col-md-9">
    {{outlet}}
  </div>
</div>