<div class="row">
  <div class="col-md-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        {{#link-to 'tutorial.templates.base' class='nav-link'}}Templates base{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to 'tutorial.templates.conditionals' class='nav-link'}}Conditionals{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to 'tutorial.templates.list' class='nav-link'}}List{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to 'tutorial.templates.list-in-object' class='nav-link'}}List in object{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to 'tutorial.templates.hbs-links' class='nav-link'}}Links{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to 'tutorial.templates.hbs-actions' class='nav-link'}}Actions{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to 'tutorial.templates.hbs-input' class='nav-link'}}Input{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to 'tutorial.templates.writing-helpers' class='nav-link'}}Writing helpers{{/link-to}}
      </li>
    </ul>
  </div>
  <div class="col-md-9">
    {{outlet}}
  </div>
</div>