<div class="row">
  <div class="col-md-3">
    {{#link-to 'tutorial.templates.base'}}Templates base{{/link-to}}<br>
    {{#link-to 'tutorial.templates.conditionals'}}Conditionals{{/link-to}}<br>
    {{#link-to 'tutorial.templates.list'}}List{{/link-to}}<br>
  </div>
  <div class="col-md-9">
    {{outlet}}
  </div>
</div>