<div>
  {{#link-to 'pacman'}}Pacman{{/link-to}}
  {{#link-to 'modules' }}Modules{{/link-to}}
  {{#link-to 'reddit' 'pics'}}Reddit{{/link-to}}
  {{#link-to 'tutorial'}}Tutorial{{/link-to}}
</div>
<hr>
{{outlet}}