<div class="row">
  <div class="col-md-2">
    <ul class="nav flex-column">
      <li class="nav-item">
        {{#link-to 'youtube.reddit' 'pics' class='nav-link'}}Reddit{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to 'youtube.model'  class='nav-link'}}Model{{/link-to}}
      </li>
    </ul>
  </div>
  <div class="col-md-10">
    {{outlet}}
  </div>
</div>